*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body{
    background-color: rgb(0, 141, 141);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    height: 480px;
    width: 350px;
    background-color: #fff;
    border-radius: 20px 10px;
    overflow: hidden;
    border: 3px solid #000;
    position: relative;
}

.stories {
    height: 120px;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid #dadada;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.stories::-webkit-scrollbar{
    display: none;
}

.story {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background: linear-gradient(#feda75,#fa7e1e,#d62976,#962fbf,#4f5bc5);
    padding: 4px;
    display: inline-block;
    margin-right: 3.5px;
}

.story img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

#full-screen {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    display: none;
}